<!-- <h1>This is the first component</h1> -->
<!-- {{ name }}
{{ age }}
<button [disabled]="disabled">{{ "Click" }}</button>
<button [disabled]="disabled == true">{{ "Click Me" }}</button>
<button [disabled]="disabled == false">{{ "Click Me2" }}</button> -->

<!-- <input type="text" (input)="inputData($event)" /> -->
<!-- <input type="text" (change)="inputData($event)" /> -->
<!-- <input type="text" [(ngModel)]="input" /><br />
{{ input }} -->
<!-- <input type="text" [value]="studentName" (input)="onChange($event)" /><br />
{{ studentName }}

{{ titlefromChild }} -->

{{ titlefromSecondComp }}
<p *ngIf="true">{{ titlefromSecondComp }}</p>

{{ titlefromParent }}
<button (click)="sendName()">Click</button>
<!-- 
<p *ngFor="let item of arr">{{ item }}</p>
<p *ngFor="let item of convertToArr(obj)">{{ item }}</p> -->

<!-- <p [ngClass]="sname == 'Hello' ? 'blue' : ''">sname</p> -->

<!-- <p [ngStyle]="sname1 == 'Hello1' && { backgroundColor: 'yellow' }">sname</p> -->
